@charset "UTF-8";

/* em HTML é id = em CSS é #
   em HTML é class = em CSS é .  */

body {
    background-color: rgb(175, 238, 213);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(40, 97, 73);
}

h1#principal {
    text-align: center;
    background-color: rgb(94, 167, 94);
    color: white;
}

h2 {
    color: rgb(56, 167, 93);
}

.basico {
    color: rgb(56, 167, 93);
}

.intermediario {
    color: rgb(150, 167, 56);
}

.avancado {
    color: rgb(167, 82, 56);
}

.destaque {
    background-color: rgba(180, 180, 164, 0.795);
}